---

### ðŸŽ“ **Professor**: Apostolos Filippas

### ðŸ“˜ **Class**: E-Commerce

### ðŸ“‹ **Topic**: DataFrames and Analyzing Data with Python

ðŸš« **Note**: You are not allowed to share the contents of this notebook with anyone outside this class without written permission by the professor.

---

## PART 1

**Topic**: We will learn the most useful data structure in Python: the DataFrame. We will also see how easy it is to read and write data using Python/pandas

## 1. DataFrames

DataFrames can be thought of as Excel sheets on steroids:
- Each row refers to an observation: (entity, purchase, review, user, ...)
- Each column refers to an attribute of the observation (e.g. age, height, ...)
- The first row usually has the names of each column

In [1]:
# 1.1 Creating a DataFrame

# First, let's import pandas
import pandas as pd
import numpy as np

# To make a DataFrame
test_scores = [19, 18, 20, 20, 17]
quiz_scores = [18, 17, 19, 20, 20]
names = ["Apostolos", "Aja", "Calai", "Katalina", "Cal"]

# Python automatically names the columns of the DataFrame according to the dictionary keys
df = pd.DataFrame(
    {"test_scores": test_scores, "quiz_scores": quiz_scores, "names": names}
)
print(df)

   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
2           20           19      Calai
3           20           20   Katalina
4           17           20        Cal

In [2]:
# 1.2 Viewing DataFrames

# The head() function prints the first few lines of the DataFrame
# For DataFrames with millions of rows, this will be important...
print(df.head())

   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
2           20           19      Calai
3           20           20   Katalina
4           17           20        Cal

In [3]:
# Similarly, the tail() function prints the last few rows
# If your df is very small, they will be the same :)
print(df.tail())

   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
2           20           19      Calai
3           20           20   Katalina
4           17           20        Cal

In [4]:
# 1.3 Getting information about a DataFrame

# To access any column of a DataFrame
print(df["test_scores"])
print(type(df["test_scores"]))

0    19
1    18
2    20
3    20
4    17
Name: test_scores, dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
print(df["names"])
print(type(df["names"]))

0    Apostolos
1          Aja
2        Calai
3     Katalina
4          Cal
Name: names, dtype: object
<class 'pandas.core.series.Series'>

In [6]:
# A useful way to summarize a DataFrame fast
print(df.describe())

       test_scores  quiz_scores
count      5.00000      5.00000
mean      18.80000     18.80000
std        1.30384      1.30384
min       17.00000     17.00000
25%       18.00000     18.00000
50%       19.00000     19.00000
75%       20.00000     20.00000
max       20.00000     20.00000

In [7]:
# Types of each column
print(df.dtypes)

test_scores     int64
quiz_scores     int64
names          object
dtype: object

In [8]:
# More detailed information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   test_scores  5 non-null      int64
 1   quiz_scores  5 non-null      int64
 2   names        5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

In [9]:
# How many observations (rows)
print(df.shape[0])  # or len(df)
# How many columns
print(df.shape[1])  # or len(df.columns)
# Names of rows (index)
print(df.index.tolist())
# Names of columns
print(df.columns.tolist())

5
3
[0, 1, 2, 3, 4]
['test_scores', 'quiz_scores', 'names']

In [10]:
# 1.4 Changing a DataFrame

# You can create a new column in the DataFrame as follows
df["new_column"] = df["quiz_scores"]
print(df)

# You can delete a column in the DataFrame by using drop()
df = df.drop("new_column", axis=1)
print(df.head())

   test_scores  quiz_scores      names  new_column
0           19           18  Apostolos          18
1           18           17        Aja          17
2           20           19      Calai          19
3           20           20   Katalina          20
4           17           20        Cal          20
   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
2           20           19      Calai
3           20           20   Katalina
4           17           20        Cal

In [11]:
# 1.5 Accessing subsets of your DataFrame

# You can access rows and columns directly
# In pandas, we use .loc[] for label-based indexing and .iloc[] for position-based indexing

# Select specific rows and columns by position
print(df.iloc[0:4]["quiz_scores"])  # rows 0-3, quiz_scores column
print(df.iloc[[0, 1, 3]])  # rows 0, 1, 3, all columns
print(df.iloc[0:4, 0:2])  # rows 0-3, columns 0-1

0    18
1    17
2    19
3    20
Name: quiz_scores, dtype: int64
   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
3           20           20   Katalina
   test_scores  quiz_scores
0           19           18
1           18           17
2           20           19
3           20           20

In [12]:
# You can select only those rows that satisfy a condition

# Select rows that have test_scores greater than 19
print(df[df["test_scores"] > 19])

# Select rows with either test score > 19 OR quiz score <= 18
print(df[(df["test_scores"] > 19) | (df["quiz_scores"] <= 18)])

# Select rows with either test score > 19 AND quiz score <= 18
print(df[(df["test_scores"] > 19) & (df["quiz_scores"] <= 18)])

   test_scores  quiz_scores     names
2           20           19     Calai
3           20           20  Katalina
   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
2           20           19      Calai
3           20           20   Katalina
Empty DataFrame
Columns: [test_scores, quiz_scores, names]
Index: []

In [13]:
# Select rows with test score less or equal to 19
print(df[~(df["test_scores"] > 19)])  # ~ is the negation operator
print(df[df["test_scores"] <= 19])

# Select rows with test scores equal to 19
print(df[df["test_scores"] == 19])

   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
4           17           20        Cal
   test_scores  quiz_scores      names
0           19           18  Apostolos
1           18           17        Aja
4           17           20        Cal
   test_scores  quiz_scores      names
0           19           18  Apostolos

## 2. Reading data

In [14]:
# 2.1 Reading CSV files
# Reading data with Python/pandas is super easy
# Let's load the reviews data

# Load it to a DataFrame (assuming we're running from base directory)
df = pd.read_csv("../data/reviews.csv")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
# 2.2 Exploring the data
# Let's explore it a little
print(df.describe())
print(df.head())
# tail() returns the last six rows of the DataFrame
print(df.tail())
# len() returns the number of rows of the DataFrame
print(len(df))
# len(df.columns) returns the number of columns of the DataFrame
print(len(df.columns))

       helpfulVotes    prcHelpful    totalVotes  productRating      verified
count  10000.000000  10000.000000  10000.000000   10000.000000  10000.000000
mean       3.948200      0.871846      4.871800       4.072200      0.734900
std       26.236687      0.280440     27.534389       1.331076      0.441409
min       -1.000000      0.000000     -1.000000       1.000000      0.000000
25%       -1.000000      0.967000     -1.000000       4.000000      0.000000
50%       -1.000000      1.000000     -1.000000       5.000000      1.000000
75%        2.000000      1.000000      3.000000       5.000000      1.000000
max     1410.000000      1.000000   1417.000000       5.000000      1.000000
         reviewId      reviewerId        asin  \
0  R1001D7IWN3HGH   AYGHDZICPFM42  B0011ZK6OS
1  R1002DBICCTX81   AHAKLV81NL2MA  B00AQDG7YE
2  R1003U8MAJM7EG  A1BWH6MOLMHTIO  B00UKMBSE0
3  R10052A11TEKY5  A12T9H67BA5R0K  B00393THEK
4  R1006VVT7S8G2G  A17Z6JA6JUNF66  B00395YA90

                                              review  \
0  I can't write a very technical review.  I just...
1  This little point and shoot can barely fit in ...
2  I was not sure if I should go for a GoPro, and...
3  I would never go without a backup and this one...
4  Seems to offer lots of features plus quality. ...

                                               title          dateWritten  \
0                                       great camera  2008-12-17 00:00:00
1                                               Wow!  2013-09-21 00:00:00
2  I used it to snorkel back in the Caribe and ev...  2014-08-15 00:00:00
3                                     Great product!  2013-10-12 00:00:00
4                            Panasonic Lumix DMC ZS5  2010-09-05 00:00:00

   helpfulVotes  prcHelpful  totalVotes  productRating  verified badges
0            -1         1.0          -1            5.0         0    NaN
1             3         1.0           3            5.0         1    NaN
2            -1         1.0          -1            5.0         1    NaN
3            -1         1.0          -1            5.0         1    NaN
4            -1         1.0          -1            4.0         1    NaN
            reviewId      reviewerId        asin  \
9995   R175PKL1JS96M   A2OF14U27NJY7  B0090SLJDU
9996  R175PV5GJ74QGS  A22NE4VSITL10W  B00HQ4W326
9997  R175T83I6ST0HL   AE3ZCISXLXB7Z  B004DEKH84
9998  R175VGA5M31CO3  A1AGU2SE3L8UAH  B0073AVSKG
9999  R175VIVCB71T85  A1K6XKO9T0PK5P  B006UMM15O

                                                 review  \
9995  I got really sick of the iphone camera's crapp...
9996  Great Camera, excellent for an amateur photogr...
9997  much more comfortable than the one that came w...
9998  There are things in this package that are grea...
9999  This is a great little camera that packs a pun...

                                                  title          dateWritten  \
9995  LOVE it! Perfect for having an alternative to ...  2012-12-12 00:00:00
9996              Great Camera for Amateur Photographer  2014-12-29 00:00:00
9997                                    nice neck strap  2013-09-10 00:00:00
9998                       Some items good, others not.  2014-11-27 00:00:00
9999                       Great camera, fast shipping!  2013-09-06 00:00:00

      helpfulVotes  prcHelpful  totalVotes  productRating  verified badges
9995            -1         1.0          -1            5.0         1    NaN
9996            -1         1.0          -1            5.0         1    NaN
9997            -1         1.0          -1            5.0         1    NaN
9998            -1         1.0          -1            3.0         1    NaN
9999            -1         1.0          -1            5.0         1    NaN
10000
12

In [16]:
# The following returns the number of rows that have "verified" equal to 1
print(len(df[df["verified"] == 1]))
# How many verified reviews? (proportion)
print(df["verified"].mean())

# What are the unique different possible ratings?
print(df["productRating"].unique())

7349
0.7349
[5. 4. 3. 1. 2.]

In [17]:
# 2.3 Writing data
# Let's keep only two star reviews
df_twostar = df[df["productRating"] == 2]
# Let's write the new file
df_twostar.to_csv("../temp/reviews_2star.csv", index=False)

# Super easy, right? And way way faster than Excel.
# And, as will become apparent, way more possibilities...

## PART 2

**Topic**: We will now take a look into how to analyze data. We will also introduce pandas method chaining, which helps us write code in a more readable way

In [18]:
# 1. Data
# Load the homes dataset
df_homes = pd.read_csv("../data/homes.csv")

# What is this data?
# This data contains information about homes in a county
# We can take a quick look at the dataset size and information
print(len(df_homes))
print(df_homes.columns.tolist())

32746
['tmp', 'yearbuilt', 'yearremodeled', 'usecode', 'condition', 'finsqft', 'cooling', 'fp_num', 'bedroom', 'fullbath', 'halfbath', 'totalrooms', 'city', 'zip', 'lotsize', 'landvalue', 'improvementsvalue', 'totalvalue', 'lastsaleprice', 'lastsaledate', 'age', 'med_age', 'fp', 'landuse', 'insub', 'remodel']

In [19]:
# Or we can look at a summary of the data set to get some more advanced information
print(df_homes.describe())

# How many conditions?
print(df_homes["condition"].unique())

          yearbuilt  yearremodeled       finsqft        fp_num       bedroom  \
count  32746.000000   32746.000000  32746.000000  32746.000000  32746.000000
mean    1956.130306     139.372473   1944.679442      0.933702      3.232792
std      231.720697     508.767332    933.221573      0.873719      0.963218
min        0.000000       0.000000    144.000000      0.000000      0.000000
25%     1973.000000       0.000000   1278.000000      0.000000      3.000000
50%     1987.000000       0.000000   1713.000000      1.000000      3.000000
75%     2000.000000       0.000000   2411.000000      1.000000      4.000000
max     2016.000000    2016.000000   8982.000000     13.000000     20.000000

           fullbath      halfbath    totalrooms           zip       lotsize  \
count  32746.000000  32746.000000  32746.000000  32490.000000  32746.000000
mean       2.205460      0.565321      6.630031  22971.655894      4.631110
std        0.936618      0.578771      2.497755    301.841535     22.102507
min        0.000000      0.000000      0.000000  22901.000000      0.000000
25%        2.000000      0.000000      5.000000  22901.000000      0.096000
50%        2.000000      1.000000      7.000000  22911.000000      0.537000
75%        3.000000      1.000000      8.000000  22932.000000      2.570000
max       11.000000      5.000000     87.000000  24590.000000   1067.150000

          landvalue  improvementsvalue    totalvalue  lastsaleprice  \
count  3.274600e+04       3.274600e+04  3.274600e+04   3.274500e+04
mean   1.328489e+05       2.490682e+05  3.819171e+05   3.900473e+05
std    1.858939e+05       2.394328e+05  3.573200e+05   1.438328e+06
min    1.200000e+03       0.000000e+00  9.500000e+03   0.000000e+00
25%    6.600000e+04       1.219000e+05  1.959000e+05   0.000000e+00
50%    1.050000e+05       1.920000e+05  2.999000e+05   1.570000e+05
75%    1.459000e+05       2.948000e+05  4.437000e+05   3.230000e+05
max    1.050170e+07       9.638500e+06  1.135230e+07   4.893700e+07

                age       med_age            fp       landuse         insub  \
count  32745.000000  32745.000000  32746.000000  32746.000000  32746.000000
mean      32.773553     28.078394      0.694925      0.049716      0.713156
std       27.161985      5.192818      0.460446      0.217361      0.452295
min        0.000000     17.000000      0.000000      0.000000      0.000000
25%       16.000000     28.000000      0.000000      0.000000      0.000000
50%       28.000000     28.000000      1.000000      0.000000      1.000000
75%       43.000000     28.000000      1.000000      0.000000      1.000000
max      348.000000     50.000000      1.000000      1.000000      1.000000

            remodel
count  32746.000000
mean       0.069871
std        0.254934
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
['Average' 'Fair' 'Good' 'Poor' nan 'Substandard' 'Excellent']

## 2. Pandas: isolating data

In [20]:
# 2.1 The select operation
# This operation is used to extract columns from our data by using their name

# For example, let's say we want to extract the total value column
values = df_homes[["totalvalue"]]  # Double brackets return DataFrame
print(values.mean())  # This works because values is a DataFrame

print(type(values))

# Alternatively, single brackets return a Series
values_series = df_homes["totalvalue"]
print(values_series.mean())

# For example let's say we want to extract more than one column
df_new = df_homes[["totalvalue", "yearbuilt"]]

# If we want all columns except certain ones
df_new = df_homes.drop(["yearbuilt"], axis=1)

totalvalue    381917.073841
dtype: float64
<class 'pandas.core.frame.DataFrame'>
381917.07384107984

In [21]:
# 2.2 The filter operation
# This operation keeps only rows that satisfy a condition

# Keep only houses built in 2015
df_new = df_homes[df_homes["yearbuilt"] == 2015]

# Keep houses not built in 2015
df_new = df_homes[df_homes["yearbuilt"] != 2015]

# Keep houses built after 2015
df_new = df_homes[df_homes["yearbuilt"] > 2015]

# Keep houses that were built in 2011, 2013, or 2015
df_new = df_homes[df_homes["yearbuilt"].isin([2011, 2013, 2015])]
# Keep houses that are either in Scottsville or Crozet
df_new = df_homes[df_homes["city"].isin(["SCOTTSVILLE", "CROZET"])]

In [22]:
# Keep houses with the maximum number of bedrooms
max_bedrooms = df_homes["bedroom"].max()
df_new = df_homes[df_homes["bedroom"] == max_bedrooms]
# Alternatively
df_new = df_homes[df_homes["bedroom"] == df_homes["bedroom"].max()]

# Multiple conditions
df_new = df_homes[
    (df_homes["city"] == "CROZET") & (df_homes["finsqft"] > df_homes["finsqft"].mean())
]

In [23]:
# 2.3 The sort operation
# This operation helps us sort according to whatever we want
df_new = df_homes.sort_values("finsqft", ascending=False)

## 3. Pandas: method chaining

In [24]:
# 3.1 Chaining operations
# Sometimes we want to perform many operations on a dataset
# For example, let's say we want to (i) only select houses in Crozet
# (ii) only keep the "totalvalue", and "lotsize" columns, and
# (iii) sort our data by decreasing lotsize order

# We could do it step by step:
df_crozet = df_homes[df_homes["city"] == "CROZET"]
df_crozet = df_crozet[["totalvalue", "lotsize"]]
df_crozet = df_crozet.sort_values("lotsize", ascending=False)
print(df_crozet.head())

       totalvalue  lotsize
30915     1975300  620.430
20923     2391000  453.893
152       1111500  288.139
20960      740800  261.711
30916     1260700  231.100

In [25]:
# Or we can chain the operations together:
df_crozet_2 = df_homes[df_homes["city"] == "CROZET"][  # Filter for Crozet
    ["totalvalue", "lotsize"]
].sort_values("lotsize", ascending=False)

# Method chaining makes code more readable and follows the data flow

## 4. Pandas: deriving data

In [26]:
# 4.1 Creating new columns
# We can create new columns using assignment

# Create a copy of the data to work with
df_new = df_homes.copy()

# Create a new column by dividing two existing columns
df_new["value_sqft"] = df_new["totalvalue"] / df_new["finsqft"]

# Select only the columns we want and sort by value per square foot
df_new = df_new[["yearbuilt", "condition", "finsqft", "totalvalue", "city", "value_sqft"]]
df_new = df_new.sort_values("value_sqft", ascending=False)

print(df_new.head())

       yearbuilt condition  finsqft  totalvalue             city   value_sqft
17147          0   Average     1210    10351200          KESWICK  8554.710744
19585       1935   Average      475     3931500            OTHER  8276.842105
16218       1962   Average     1590    11352300  CHARLOTTESVILLE  7139.811321
25347       1934   Average      600     3931500            OTHER  6552.500000
8079           0      Fair      731     4153300            OTHER  5681.668947

In [27]:
# We can also create conditional columns
# First, let's create the value_sqft column again
df_new = df_homes.copy()
df_new["value_sqft"] = df_new["totalvalue"] / df_new["finsqft"]

# Create a column that shows if a house has high value per sqft
median_value_sqft = df_new["value_sqft"].median()
df_new["high_value_sqft"] = df_new["value_sqft"] > median_value_sqft

# Select columns and sort
df_new = df_new[["yearbuilt", "condition", "finsqft", "totalvalue", "city", "value_sqft", "high_value_sqft"]]
df_new = df_new.sort_values("value_sqft", ascending=False)

print(df_new.head())

       yearbuilt condition  finsqft  totalvalue             city   value_sqft  \
17147          0   Average     1210    10351200          KESWICK  8554.710744
19585       1935   Average      475     3931500            OTHER  8276.842105
16218       1962   Average     1590    11352300  CHARLOTTESVILLE  7139.811321
25347       1934   Average      600     3931500            OTHER  6552.500000
8079           0      Fair      731     4153300            OTHER  5681.668947

       high_value_sqft
17147             True
19585             True
16218             True
25347             True
8079              True

In [28]:
# Creating multiple new columns at once
df_new = df_homes.copy()

# Create value per square foot
df_new["value_sqft"] = df_new["totalvalue"] / df_new["finsqft"]

# Create remodel indicator (1 if remodeled, 0 if not)
df_new["remodel"] = (df_new["yearremodeled"] > 0).astype(int)

# Select only the columns we want and sort
df_new = df_new[["value_sqft", "remodel", "city"]]
df_new = df_new.sort_values("value_sqft")

print(df_new.head())

       value_sqft  remodel             city
31112    7.620818        0  CHARLOTTESVILLE
4230    10.772358        0           ESMONT
28570   11.020882        0            OTHER
18469   12.104489        0            OTHER
19276   13.699495        0            OTHER

In [29]:
# 4.2 Summary statistics
# This computes summary statistics and creates a new DataFrame

# First, filter houses with yearbuilt info
df_homes_filtered = df_homes[df_homes["yearbuilt"] > 0]

# Compute summary statistics
df_homes_stats = df_homes_filtered.agg({"yearbuilt": ["min", "max", "count", "mean", "median"]}).round(2)

print(df_homes_stats)

# Alternative approach using describe
df_homes_stats = df_homes_filtered["yearbuilt"].describe()

        yearbuilt
min        1668.0
max        2016.0
count     32299.0
mean       1983.2
median     1988.0

In [30]:
# 4.3 Group by operations
# This function groups cases by common values of one or more columns

# First, filter houses with yearbuilt info
df_homes_filtered = df_homes[df_homes["yearbuilt"] > 0]

# Group by city and compute summary statistics
df_homes_stats = (
    df_homes_filtered
    .groupby("city")["yearbuilt"]
    .agg(["min", "max", "count", "mean", "median"])
    .round(2)
    .reset_index()
)

print(df_homes_stats)

              city   min   max  count     mean  median
0            AFTON  1756  2015    495  1970.54  1981.0
1    BARBOURSVILLE  1800  2016    405  1983.60  1988.0
2  CHARLOTTESVILLE  1668  2016  21006  1985.40  1988.0
3           CROZET  1700  2016   2978  1984.99  1999.0
4      EARLYSVILLE  1735  2016   1909  1982.39  1985.0
5           ESMONT  1740  2016    478  1966.10  1980.0
6          KESWICK  1724  2016   1574  1986.63  1995.0
7     NORTH GARDEN  1700  2016    603  1968.20  1980.0
8            OTHER  1730  2016   1811  1972.30  1978.0
9      SCOTTSVILLE  1732  2016   1040  1971.34  1979.0

In [31]:
# If you don't want to obtain summaries but only within-group quantities
# First, filter houses with yearbuilt info
df_homes_filtered = df_homes[df_homes["yearbuilt"] > 0].copy()

# Calculate median year built by city
median_by_city = df_homes_filtered.groupby("city")["yearbuilt"].median()

# Add the median back to our dataframe
df_homes_filtered["median_yearbuilt"] = df_homes_filtered["city"].map(median_by_city)

# Create a new column indicating if house is newer than city median
df_homes_filtered["new"] = (df_homes_filtered["yearbuilt"] >= df_homes_filtered["median_yearbuilt"]).astype(int)

# Select only the columns we want
df_homes_stats = df_homes_filtered[["yearbuilt", "condition", "finsqft", "city", "median_yearbuilt", "new"]]

print(df_homes_stats.head())

   yearbuilt condition  finsqft    city  median_yearbuilt  new
0       2006   Average     1922  CROZET            1999.0    1
1       2003   Average     1848  CROZET            1999.0    1
2       1974   Average     1368   OTHER            1978.0    0
3       1954   Average     1092   OTHER            1978.0    0
4       1987   Average     1344   OTHER            1978.0    1

In [32]:
# You can group by more than one variable
# Group by both city and the "new" indicator we just created
df_homes_stats = (
    df_homes_filtered
    .groupby(["city", "new"])["yearbuilt"]
    .agg(["min", "max", "count", "mean", "median"])
    .round(2)
    .reset_index()
)

print(df_homes_stats)

               city  new   min   max  count     mean  median
0             AFTON    0  1756  1980    243  1943.60  1960.0
1             AFTON    1  1981  2015    252  1996.52  1996.0
2     BARBOURSVILLE    0  1800  1987    192  1965.51  1973.0
3     BARBOURSVILLE    1  1988  2016    213  1999.91  2001.0
4   CHARLOTTESVILLE    0  1668  1987  10426  1970.46  1974.0
5   CHARLOTTESVILLE    1  1988  2016  10580  2000.13  2000.0
6            CROZET    0  1700  1998   1484  1962.37  1970.0
7            CROZET    1  1999  2016   1494  2007.47  2006.0
8       EARLYSVILLE    0  1735  1984    928  1966.63  1975.0
9       EARLYSVILLE    1  1985  2016    981  1997.29  1997.0
10           ESMONT    0  1740  1979    237  1933.14  1953.0
11           ESMONT    1  1980  2016    241  1998.51  1999.0
12          KESWICK    0  1724  1994    729  1968.40  1977.0
13          KESWICK    1  1995  2016    845  2002.36  2001.0
14     NORTH GARDEN    0  1700  1979    298  1939.06  1950.0
15     NORTH GARDEN    1  1980  2016    305  1996.66  1997.0
16            OTHER    0  1730  1977    879  1947.10  1963.0
17            OTHER    1  1978  2016    932  1996.07  1996.0
18      SCOTTSVILLE    0  1732  1978    507  1945.39  1962.0
19      SCOTTSVILLE    1  1979  2016    533  1996.03  1995.0

---

## ðŸŽ‰ FIN!!

### Recap:
We covered the most useful analysis data structure in Python -- the DataFrame. We'll use that structure a lot in the next few weeks.

### Next week:
We will learn how we can visualize data using Python

---